body  { 

    background: url(https://preview.ibb.co/hxhLR7/sirenevyy_malinovyy_oranzhevyy.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1300px 700px;
    text-align: center;

}

h1 {
    font-family: Calibri;
    font-weight:lighter;
    font-size:40px;
    margin-top: 25px;

}

h2 {
    font-family:Calibri;
    font-weight: lighter;
    font-size:25px;
    text-align: center;
}


h3 {
    margin: 0;
    padding: 0;
    font-family: Calibri;
    font-weight:bold;
    font-size:20px;
    text-align: left;
    padding: 30px 0px 0px 60px;
    background-color:#DAD6E4;
}

p {
    margin: 0;
    padding: 0;
    font-family:Calibri;
    font-size:18px;
    text-align: left;
    padding: 0px 0px 30px 60px;
    border-bottom: 1px solid;

}

p1 {
    font-family:Calibri;
    font-weight: bold;
    font-size:14px;
    text-align: center;
}


form {
    font-family:Calibri;
    font-size:18px;
    fill-opacity:initial;
    padding-bottom: 60px;
}

input [type=text]
{
    font-family: arial;
}

#message 
{
    font-family: arial;
}


#submit

{
    font-family: Calibri;
    font-size: 15px;
    height: 35px;
    padding:5px 25px 5px; 
}

#header {
    padding: 0px 15px 10px 10px;
    margin-top: 25px;
    text-align: center;
    margin: 0 auto;
    background-color:white;
    opacity: 0.7;
    width: 800px;
    font-family: Calibri;
    border: 1px solid white;
}

#wrapper2 {
margin-top: 30px;
background-color: #DAD6E4;
}

#wrapper {    
    padding: 0px 15px 10px 10px;
    margin: 0 auto;
    margin-top: 25px;
    background-color:white;
    opacity: 0.7;
    width: 800px;
    border: 1px solid white;
    border-radius: 15px;   
 }





